<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleIconFile</key>
		<string>saaghar.icns</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleExecutable</key>
		<string>Saaghar</string>
		<key>CFBundleGetInfoString</key>
		<string>Copyright (c) 2010, S. Razi Alavizadeh</string>
		<key>CFBundleIdentifier</key>
		<string>Saaghar</string>
		<key>CFBundleName</key>
		<string>Saaghar</string>
	</dict>
</plist>
